<div class="media">
  <img class="mr-3 ml-3 mt-1"
       height="64"
       src="https://www.dropbox.com/s/b56xloihq1vv398/avatar_8037e532dab6_128.png?raw=1"
       alt="Logo Pôle Emploi">
  <div class="media-body">
    <div class="row">
      <div class="col">
        <strong class="mt-0 mb-0">{{titre}}</strong>
        <br>
        <small>{{dureeTravail}}</small>
        <br>
        <div class="badge badge-light">{{sessionDuration}}</div>
        <div class="badge badge-light">{{typeContrat}}</div>
        <div class="badge badge-light">{{salaire}}</div>
      </div>
      <div class="col align-content-center">
        {{lieuTravail}}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="row justify-content-center mt-4">
    {{description}}
    <button class="btn mt-3 btn-primary">Ça m'intéresse</button>
  </div>
  <hr>
</div>
