<div class="col-xl-9 offset-xl-1 col-lg-9 offset-lg-1 col-sm-11 offset-sm-1 col-md-8 col-xs-12 align-self-center">
  <div class="row-fluid justify-content-center text-center mx-auto stack-container">
    {{#each visibleItems as |offre index|}}
      <OffreCard @offre={{offre}}
                 @isInitialRender={{isInitialRender}}
                 @index={{index}}
                 @visibleItemAmount={{visibleItems.length}}
                 @isLast={{eq offre visibleItems.lastObject}}
                 @createFadeAnimation={{createCardFadeAnimation}}
                 @createShiftAnimation={{createCardShiftAnimation}}
                 @isActive={{eq offre currentItem}}
                 @getInitialCardStyle={{getInitialCardStyle}}
                 @fadeToRight={{fadeToRight}}>
      </OffreCard>
    {{else}}
      <div class="row justify-content-center mt-4">
        Aucune offre disponible pour le moment. Revenez demain !
      </div>
    {{/each}}
  </div>

  {{#if visibleItems}}
    <div class="row-fluid mb-4 position-relative">
      <button class="btn btn-danger text-uppercase" type="button" {{action "notInterested"}}>Non merci</button>
      <button class="btn btn-success text-uppercase" type="button" {{action "interested"}}>Ça m'intéresse!</button>
    </div>
  {{/if}}
</div>
