<div class="media col-12">
  <img class="mt-1"
       height="64"
       src="https://www.dropbox.com/s/b56xloihq1vv398/avatar_8037e532dab6_128.png?raw=1"
       alt="Logo Pôle Emploi">
  <div class="media-body">
    <div class="row px-4">
      <div class="col-8 text-left">
        <strong class="my-0">{{titre}}</strong>
        <br>
        <small>{{dureeTravail}}</small>
        <br>
        <div class="badge badge-info">{{sessionDuration}}</div>
        <div class="badge badge-info">{{typeContrat}}</div>
        <div class="badge badge-info">{{salaire}}</div>
      </div>
      <div class="col-4 text-left">
        {{lieuTravail}}
      </div>
    </div>
  </div>
</div>
